<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AlmaConnect-Form</title>
  </head>
  <body>
    <section class="alumni_form">
      <form action="" method="post">
        <div class="row">
          <div class="column">
            <label>Full name</label>
            <div class="input_field">
              <input
                type="text"
                name="full_name"
                placeholder="Full Name"
                required
              />
            </div>
          </div>
          <div class="column">
            <label>Department name</label>
            <div class="input_field">
              <input
                type="text"
                name="full_name"
                placeholder="Department"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label>Year of Graduation</label>
            <div class="input_field">
              <input
                type="text"
                name="graduation_year"
                placeholder="Graduation Year"
                required
              />
            </div>
          </div>
          <div class="column">
            <label>USN</label>
            <div class="input_field">
              <input
                type="text"
                name="seat_number"
                placeholder="USN"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label>Contact Number</label>
            <div class="input_field">
              <input
                type="tel"
                name="contact_number"
                placeholder="Contact Number"
                required
              />
            </div>
          </div>
          <div class="column">
            <label>Email</label>
            <div class="input_field">
              <input type="email" name="Email" placeholder="Email" required />
            </div>
          </div>
        </div>
         <div class="row">
          <div class="column">
            <label>Occupation</label>
            <div class="input_field">
              <input
                type="text"
                name="occupation"
                placeholder="Occupation"
                required
              />
            </div>
          </div>
          <div class="column">
            <label>Job title</label>
            <div class="input_field">
              <input
                type="text"
                name="job_title"
                placeholder="Job Title"
                required
              />
            </div>
          </div>
          <div class="column">
            <label>Company</label>
            <div class="input_field">
                <input type="text" name="company" placeholder="Company" required>
            </div>
          </div>
          </div>
          <input class="button" type="submit" value="Sumbit" />
      </form>
    </section>
  </body>
</html>
