<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>Events</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'Events/events.css' %}"
    />

  </head>
  <body>
    <section class="heading">
      <header>
        <a href="#"><img src="{%static 'shop/logo.png'%}" class="logo" alt="" /></a>
        <div class="toggle" onclick="toggleMenu()"></div>
        <ul class="navigation">
          <li><a href="/">Home</a></li>
          <li><a href="#merchandise">Merchandise</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </header>
    </section>
    <section class="events_page_section">
      <div class="events_center">
        <h1>Participate in these upcoming events.</h1>
        <p>
          Events are the best platform to show your hidden talents and get to
          know more amazing people. Register and participate in these amazing
          events.
        </p>
      </div>
      <div class="cards_center">
        <ul class="cards">
          {% for i in event %}
          <li class="cards_item">
            <div class="card">
              <div class="card_image">
                <img src="/media/{{i.main_image}}" />
              </div>
              <div class="card_content">
                <h2 class="card_title">{{i.name}}</h2>
                <p class="card_text">
                  {{i.description}}
                </p>
                <div class="buttons">
                  <a href="{{i.link}}">
                    <button class="btn card_btn" type="button">Register ></button></a>
                  <a href="/events/event_details/{{i.name}}"><button
                    class="btn card_btn modal_btn"
                    id="myBtn"
                    type="button"
                  >
                    View details >
                  </button></a>
                </div>
              </div>
            </div>
          </li>
          {% endfor %}
      
    </section>

    <section class="footer">
      <div class="footer_center">
        <div class="logo">
          <img src="{%static 'shop/logo-black.png'%}" alt="" />
          <p>
            Campus Connect is a centralised platform for all the information
            regarding a college.
          </p>
        </div>
        <div class="company">
          <h3>Company</h3>
          <ul>
            <li><a href="">Team</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms and Conditions</a></li>
          </ul>
        </div>
        <div class="links">
          <h3>Useful links</h3>
          <ul>
            <li><a href="/tshirts">Tshirts</a></li>
            <li><a href="/hoodies">Hoodies</a></li>
            <li><a href="/blogs">Blogs</a></li>
          </ul>
        </div>
        <div class="contact_us">
          <h3>Contact Us</h3>
          <a href="mailto: campus.connect.contact@gmail.com"
            >campus.connect.contact@gmail.com</a
          >
          <ul>
            <li>
              <a href="#"
                ><img src="{%static 'shop/instagram.png'%}" alt=""
              /></a>
            </li>
            <li>
              <a href="#"><img src="{%static 'shop/discord.png'%}" alt="" /></a>
            </li>
            <li>
              <a href="#"
                ><img src="{%static 'shop/linkedin.png'%}" alt=""
              /></a>
            </li>
            <li>
              <a href="#"
                ><img src="{%static 'shop/whatsapp.png'%}" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="copyright">
        <p>| © 2021 campusconnect.one | All Rights Reserved |</p>
      </div>
    </section>
    <script>
      function toggleMenu() {
        var menuToggle = document.querySelector(".toggle");
        var navigation = document.querySelector(".navigation");
        navigation.classList.toggle("active");
        menuToggle.classList.toggle("active");
      }
      // Get the modal
      // window.addEventListener("click", function (event) {
      //   if (event.target == modal) {
      //     modal.style.display = "none";
      //   }
      // });
    </script>
  </body>
</html>


