@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
.cart-section {
  width: 100%;
  padding: 20px 10vw;
  display: flex;
  justify-content: space-between;
   font-family: "Poppins", sans-serif;
}
.product-list {
  width: 70%;
}
.checkout-section {
  width: 28%;
}
.section-heading {
  font-size: 30px;
  font-weight: 500;
  margin: 20px 0;
  text-transform: capitalize;
}
.cart{
  position: relative;
  bottom: 27px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}
.sn-product {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.cart .sn-product:last-child,
.wishlist .sn-product:last-child {
  margin-bottom: 0;
}
.sn-product-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.sn-text {

  width: 50%;
}
.sn-product-name {
  font-size:15px;
  font-weight: 700;
  text-transform: capitalize;
}
.sn-des {
  font-size: 18px;
  opacity: 0.5;
  line-height: 25px;
  text-transform: capitalize;
  margin-top: 10px;
}
.item-counter {
  width: 90px;
  height: 30px;
  display: flex;
  margin-right: 20px;
}
.counter-btn,
.item-count {
  width: 30px;
  height: 30px;
}
.counter-btn {
  background: #f3f3f3;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 1px;
  cursor: pointer;
}

.item-count {
  text-align: center;
  line-height: 30px;
  background: #f5f5f5;
}
.sn-price {
  font-size: 50px;
  font-weight: 500;
  color: #383838;
}
.sn-delete-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
  border: 1px solid rgb(216, 216, 216);
  z-index: 2;
  cursor: pointer;
}
.sn-delete-btn img {
  height: 100%;
  width: 100%;
}
img:last-child {
  object-fit:contain;
  align-items:center;
}
.checkout-box {
  width: 100%;
  height: 200px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  padding: 20px;
}
.text {
  text-transform: capitalize;
  font-size: 18px;
}
.checkout-btn, .place-order-btn {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  background: #383838;
  color: #fff;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize;
}
.section-heading{
text-transform:capitalize;
font-weight:700;
}
.bill{
  font-size: 60px;
  font-weight: 500;
  margin: 10px 0;
}
@media only screen and (max-width:750px){
img:last-child{
width:-webkit-fill-available;
}
.cart-section{
 display:flex;
 flex-direction:column;
}
.checkout-section{
 margin-top:5px;
 width:59%;
}
.cart{
padding:9px;}

.product-list{
width:100%;
}
.sn-product-img{
width:95px;
}
.sn-text
{
text-align:center;
}
.sn-price{
font-size:30px;
}
}
