@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
.product-details {
  position: relative;
  bottom: 30px;
  left: 25px;
  display: grid;
  height: auto;
  width: 95vw;
  grid-template-rows: repeat(1, 1fr);
  background: #ffffff;
  align-items: center;
  padding: 10px;
  padding-left: 10px;
  /* margin: 10px; */
  font-family: "Poppins", sans-serif;
}
.product-details-container {
  background: #e1dede;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.product-images {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  background: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
  grid-gap: 10px;
  padding: 10px;
}
.product-images img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}
.product-images img.active {
  opacity: 0.5;
}
.details {
  width: 50%;
  margin: 10px;
  padding: 5px;
}
.details .product-brand {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 2px;
}
.product-price {
  font-weight: 700;
  font-size: 30px;
}
.product-actual-price {
  font-size: 30px;
  opacity: 0.5;
  text-decoration: line-through;
  margin: 0 20px;
  font-weight: 300;
}
.product-discount {
  color: #ff7d7d;
  font-size: 20px;
}
.product-sub-heading {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 60px 0 10px;
  font-weight: 300;
}
.size-radio-btn {
  display: inline-block;
  width: 80px;
  /* height: 80px; */
  text-align: center;
  font-size: 20px;
  border: 1px solid #383838;
  border-radius: 50%;
  margin: 10px;
  margin-left: 0;
  line-height: 80px;
  text-transform: uppercase;
  color: #383838;
  cursor: pointer;
}

.size-radio-btn.check {
  background: #383838;
  color: #fff;
}

.btn {
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  background: none;
  border: 1px solid #383838;
  color: #383838;
  font-size: 20px;
  cursor: pointer;
  margin: 20px 0;
  text-transform: capitalize;
}

.btn.cart-btn {
  border-radius: 40px;
  margin-right: 2%;
  background: #383838;
  color: #fff;
}

@media only screen and (max-width: 766px) {
  .product-details-container {
    position: relative;
    max-width: 330px;
    display: flex;
    flex-direction: column;
  }

  .details {
    width: 95%;
    margin: 10px;
    padding: 5px;
  }
  .details .product-brand {
    font-size: 25px;
    margin: 2px;
    text-align: center;
  }
  .product-details {
    text-align: center;
    position: relative;
    left: 4px;
  }
  .product-price {
    font-size: 25px;
  }
  .product-actual-price {
    font-size: 25px;
  }
  .product-discount {
    font-size: 15px;
  }
  .product-sub-heading {
    font-size: 20px;
    margin: 26px 0 10px;
  }
  .size-radio-btn {
    display: inline-block;
    width: 53px;
    font-size: 17px;
    margin: 8px;
    margin-left: 0;
    line-height: 58px;
  }
  .btn {
    width: 40%;
    padding: 20px;
    font-size: 14px;
    margin: 20px 0;
  }
}
.details .added {
    background: #39ddac;
    font-size: 1rem;
    color: white;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    transform: translate(-4px);
    transition: all 300ms ease-in-out;
    position: relative;
    display: none;
}



